log/
test*/
train*/
tmp/
__pycache__/
*.json
*.swp
*.swo
.idea/
.vscode/
*checkpoint*
model/
model*/
models/
records/
logs/
output/
ctc_output/
seq2seq_output/
output*
*.jpg
*.JPG
*.png
*.bmp
*.BMP
*.tar.gz
*.npy
*.pyc
events.out.tfevents*
*.data-00000-of-00001
*.index
*.meta
*.pb
*.pbtxt
